@page "/login"
@using Frontend.Models
@using System.IdentityModel.Tokens.Jwt
@using System.Linq
@inject HttpClient Http
@inject NavigationManager Navigation
@inject IJSRuntime JSRuntime

<h3>Login</h3>

<EditForm Model="loginModel" OnValidSubmit="HandleLogin">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div>
        <label for="username">Username:</label>
        <InputText id="username" @bind-Value="loginModel.UserName" />
    </div>
    <div>
        <label for="password">Password:</label>
        <InputText id="password" type="password" @bind-Value="loginModel.Password" />
    </div>
    <button type="submit">Login</button>
</EditForm>


@* TODO : à deplacer *@
@code {
    private LoginModel loginModel = new LoginModel();

    private async Task HandleLogin()
    {
        var response = await Http.PostAsJsonAsync("https://localhost:7214/auth/login", loginModel);
        if (response.IsSuccessStatusCode)
        {
            var responseContent = await response.Content.ReadAsStringAsync();
            Console.WriteLine($"Response Content: {responseContent}");

            var result = await response.Content.ReadFromJsonAsync<Dictionary<string, string>>();
            if (result != null && result.TryGetValue("token", out var token))
            {
                await JSRuntime.InvokeVoidAsync("localStorage.setItem", "authToken", token);

                // Decode the JWT token and log the role to the console
                var handler = new JwtSecurityTokenHandler();
                var jwtToken = handler.ReadJwtToken(token);
                var roleClaim = jwtToken.Claims.FirstOrDefault(c => c.Type == "http://schemas.microsoft.com/ws/2008/06/identity/claims/role")?.Value;
                Console.WriteLine($"Role: {roleClaim}");

                Navigation.NavigateTo("/");
            }
            else
            {
               
                Console.WriteLine("Token not found in response");
            }
        }
        else
        {
            
            Console.WriteLine("Login failed");
        }
    }
}
