<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FrontendRazor</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FrontendRazor.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="d-flex" id="wrapper">
        <!-- Sidebar -->
        <div class="bg-light border-right" id="sidebar-wrapper">
            <div class="sidebar-heading">Medilabo Solutions</div>
            <div class="list-group list-group-flush">
                <a class="list-group-item list-group-item-action bg-light" asp-area="" asp-page="/Index">Patients</a>
                <a class="list-group-item list-group-item-action bg-light" asp-area="" asp-page="CreatePatient">Nouveau patient</a>
                <a class="list-group-item list-group-item-action bg-light" asp-area="" asp-page="/Login">Connexion</a>
                <form method="post" asp-page-handler="Logout" class="list-group-item list-group-item-action bg-light p-0">
                    <button type="submit" class="btn btn-danger w-100 text-start">Déconnexion</button>
                </form>
               
            </div>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <h1 class="ms-3">Médilabo Solutions</h1>
            </nav>

            <div class="container-fluid">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - FrontendRazor - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
