html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Sidebar styles */
#wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar-wrapper {
    min-height: 100vh;
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    padding: 20px;
}

.sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

.list-group-item {
    border: none;
    padding: 0.75rem 1.25rem;
}

    .list-group-item:hover {
        background-color: #e2e6ea;
    }

.btn-update {
    background-color: #007bff; /* Couleur bleue pour le bouton de mise à jour */
    color: white;
}

.btn-notes {
    background-color: #28a745; /* Couleur verte pour le bouton des notes */
    color: white;
}

.form-container {
    max-width: 600px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 1rem;
}

.note-container {
    max-width:800px;
    margin:auto;
    margin-top:20px;
}

/*couleurs de fond pour les risques*/
.patient-risk-level.none {
    background-color: green;    
    color: white;
}

.patient-risk-level.borderline {
    background-color: yellow;   
    color: black;
}

.patient-risk-level.in-danger {
    background-color: orange;    
    color: white;
}

.patient-risk-level.early-onset {
    background-color: red;    
    color: white;
}
